<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocationization 2.1
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="getLocation()" [disabled]="showLoading">Get Location</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>Lat</ion-col>
      <ion-col>{{ webLocation().latitude | number:'1.5' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Long</ion-col>
      <ion-col>{{ webLocation().longitude | number:'1.5' }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Accuracy</ion-col>
      <ion-col>{{ webLocation().accuracy | number:'1.2' }}</ion-col>
    </ion-row>
  </ion-grid>

  <div id="map"></div>

</ion-content>

@if (updateReady) {
  <ion-footer class="ion-padding">
      <ion-button expand="block" (click)="doUpdate()" color="light" size="small">
        New version available - update now
      </ion-button>
  </ion-footer>
}
