<ion-header [translucent]="true">
  <ion-toolbar>
    <ion-title>
      Geolocationization
    </ion-title>
  </ion-toolbar>
</ion-header>

<ion-content class="ion-padding">

  <ion-button expand="block" (click)="getAccuracies()">Get Location</ion-button>

  <ion-grid>
    <ion-row>
      <ion-col>Web/Cordova</ion-col>
      <ion-col>{{ webLocation() | json }}</ion-col>
    </ion-row>
    <ion-row>
      <ion-col>Cap</ion-col>
      <ion-col>{{ capLocation() | json }}</ion-col>
    </ion-row>
  </ion-grid>

</ion-content>
